:root {
  --darkestblue: #263238;
  --midnight: #2f3e46;
  --greyblue: #354f52;
  --midgreen: #52796f;
  --springtime: #84a98c;
  --ivory: #cad2c5;
  --offwhite: #dcdcdc;
}

* {
  box-sizing: border-box;
}

.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.sitemap{
    background-color: var(--darkestblue);
    color: var(--ivory);
    margin:3px auto;
    padding: 20px 0px 20px 0px;
}
.sitemap a:active{
  color: var(--greyblue);
}
.sitemap a{
  color: var(--midgreen);
  text-decoration: none;
}
.sitemap a:hover{
  color: var(--ivory);
}

.sitemap ul{
  list-style-type: none;
  margin-top: 1em;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #3f6863 ;
    color: #afc0bd;
}

address{
    font-size:80%;
    margin:0px;
    color:#afc0bd;
}

.header {
  padding: 80px;
  text-align: center;
  background: var(--greyblue);
  color: var(--offwhite);
}
.header h1 {
  font-size: 40px;
}

/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */

/* Main column */
.main {
  -ms-flex: 100%; /* IE10 */
  flex: 100%;
  background-color: var(--midnight);
  padding: 20px;
  margin: 2rem;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}


/* Animals Page */
.navbar-dark .nav-item .nav-link {
  color: #fff;
  text-decoration: none;
}

svg {
  max-width: 48px;
  max-height: 48px;
}
.ns-text {
  font-weight: stronger;
  padding-left: 13%;
}


.App-logo {
  height: 10em;
  pointer-events: none;
  padding: 2em;
}

.oa-nav {
  background-color: var(--darkestblue);
}
.oa-nav a{
  text-transform: uppercase;
  color: var(--ivory)!important;
  background-color: var(--darkestblue);
  padding: 1em;
  margin-bottom: 2em;
  text-decoration: none;
}

.oa-nav img{
  color: var(--ivory)!important;
  background-color: var(--darkestblue);
  padding: 1em;
  margin-bottom: 2em;
  text-decoration: none;
}
/* Change color on hover */
.oa-nav a:hover {
  background-color: var(--midnight);
  color: var(--ivory);
}

.dropdownmenu{
  color: var(--ivory)!important;
  padding: 1em;
  margin-bottom: 2em;
  text-decoration: none;
  border: var(--ivory);
}
